<h1 class="text-center">Editer Tâche</h1>

<%= render 'form' %>

<div class="btn-group btn-group-justified form-signin">
    <%= link_to "<i class='fa fa-arrow-left'></i> Rétour".html_safe, tasks_path, class: "btn btn-default btn-block" %>
    <%= link_to "Voir <i class='fa fa-eye'></i>".html_safe, @task, class: "btn btn-primary btn-block" %>
</div>