<h1 class="text-center">Nouvelle Tâche</h1>

<%= render 'form' %>

<div class="btn-group btn-group-justified form-signin">
<%= link_to "<i class='fa fa-arrow-left'></i> Rétour".html_safe, tasks_path, class: "btn btn-default btn-block" %>
</div>