<div class="container">
  <div class="row">
  <div class="col-lg-6 col-lg-offset-3">
  <div class="jumbotron text-center">
    <h1><i class="fa fa-shirtsinbulk"></i>ToDoList</h1>

    <% if current_user %>
        <p>Bienvenue sur votre Platforme de Gestion  des Taches</p>
        <%= link_to "<i class='fa fa-pencil-square-o'></i> Nouvelle Tâches".html_safe, new_task_path, class: "btn btn-success btn-lg btn-md btn-block" %>
        <%= link_to "<i class='fa fa-list-ol'></i> Liste des Tâches".html_safe, tasks_path, class: "btn btn-primary btn-lg btn-md btn-block" %>
    <% else %>
        <p>Plannificateur et Gestion  des Taches</p>
        <%= link_to "<i class='fa fa-pencil-square-o'></i> Sign up".html_safe, new_user_registration_path, class: "btn btn-success btn-lg btn-md btn-block" %>
    <% end %>
  </div>
  </div>
  </div>
</div>
