<div class="jumbotron">
  <h1><i class="fa fa-shirtsinbulk"></i>ToDoList</h1>
  <p>Plannificateur et Gestion  des Taches</p>
  <%= link_to "<i class='fa fa-pencil-square-o'></i> Sign up".html_safe, new_user_registration_path, class: "btn btn-success btn-lg" %>

</div>